version: "3.9"

services:
  KanhaMusic:
    build: .
    container_name: KanhaMusic_bot
    restart: always
    command: python3 -m KanhaMusic
    env_file:
      - .env
    volumes:
      - .:/app
    networks:
      - botnet

networks:
  botnet:
    driver: bridge
